.dis-flex-col {
	display: flex;
	flex-direction: column;
}

.dis-flex {
	display: flex;
	align-items: center;
}


.display-property-none {
	display: none;
}
.diagnost-text {
	width: 412px;
	height: 68px;
	background-color: #ffffff;
	margin-top: 16px;
	padding-left: 34px;
}

.diagnost-text .main-text {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.diagnost-text img {
	height: 16px;
	width: 16px;
	margin-right: 26px;
}

.lab-test {
	/* position: relative; */
}
.lab-test input {
	/* position: absolute; */
	margin: 25px 27px;
	/* top: 109px; */
	background: #eef3f9;
	/* Fainted font */
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 6px;
	width: 358px;
	Height: 46px;
	border-radius: 6px;
	padding-left: 10px;
	border: 1px solid rgb(167, 167, 199);
}

.important-test {
	padding: 0px 24px;
	justify-content: space-between;
}

.test-name {
	background-color: #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	width: 172px;
	height: 88px;
	padding: 19px 20px;
}

.test-name .test-technology {
	/* B1 Medium 16px */
	margin-bottom: 8px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */
	/* Font */
	color: #292929;
}

.test-name .main-test-name {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 18px;
	/* identical to box height */
	color: #9b9b9b;
}

.popular-test {
	padding: 0 23px;
	margin-top: 26px;
}

.popular-text {
	justify-content: space-between;
	margin-bottom: 12px;
}

.popular {
	/* H3 Medium 20 px */
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	/* identical to box height */
	/* Font */
	color: #292929;
}

.view-all {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: rgba(46, 75, 127, 0.7);
}

.popular-content {
	background: #ffffff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	width: 368px;
	/* height: 124px; */
	margin-bottom: 12px;
	padding: 16px 20px 12px;
	justify-content: space-between;
}

.test-type-name {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
	/* or 137% */
	/* grad(black 50%) */
	color: #1b707b;
}

.left-popular {
	/* width: 184px; */
}

.no-certificate-lab {
	/* C2 medium 12px */
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 5px;
	color: #949292;
}

.price {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height */
	/* P Gradient 15% */
	color: #385b9b;
}

.right-popular {
	/* P Gradient 15% */
	padding: 12px 22px;
	width: 87px;
	height: 60px;
	border-radius: 4px;
	background: #385b9b;
	border-radius: 4px;
}

.check-detail {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	/* AC4 */
	color: #f6fafd;
}

.partner {
	overflow: scroll;
}
.partner::-webkit-scrollbar {
	display: none;
}

.lab-partner {
	padding: 0 23px;
	margin-bottom: 12px;
}
.partner-text {
	/* H3 Medium 20 px */
	margin: 12px 0 12px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.partner-detail {
	background: #ffffff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
	border-radius: 6px;
	width: 131px;
	height: 106px;
	padding: 12px;
	margin-right: 10px;
}

.partner-certified {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	/* identical to box height */

	color: #949292;
}

.partner-name {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	margin: 3px 0 5px;
	/* identical to box height */
	/* Font */
	color: #292929;
}

.afford-package {
	padding: 0 23px;
	margin-bottom: 12px;
}

.partner-name-lab{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	margin: 20px 0 5px;
	/* identical to box height */
	/* Font */
	color: #292929;
}
.package-text {
	margin: 24px 0 12px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.empty-last {
	width: 412px;
	height: 65px;
}

/* on clicking check now */
.heading {
	margin: 15px 0 8px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	/* identical to box height */
	/* P grad (black 30%) */
	color: #2e4b7f;
}

.discription-content {
	/* C2 medium 12px */

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;

	color: #545454;
}
.test-list ol {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 15px;
	/* identical to box height */
	/* P grad (black 30%) */
	color: #2e4b7f;
}

.test-partner {
	padding: 10px;
	background: #ffffff;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	margin-right: 10px;
	width: 100px;
	height: 117px;
}

.discount {
	margin: 5px 0 5px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 8px;
	line-height: 12px;
	/* identical to box height */
	/* Font */
	justify-content: space-between;
	color: #292929;
}

.test-partner button {
	/* P grad (black 30%) */
	padding: 2px;
	background: #2e4b7f;
	border-radius: 2px;
	width: 100%;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	/* identical to box height */
	text-align: center;
	/* AC4 */
	color: #f6fafd;
}

.partner-logo {
	width: 84px;
	height: 23px;
}


