<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>modal</title>
  <link rel="stylesheet" href="cityModal.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  </style>
</head>

<body>
  <div>
    
    <div class="modal">
      <div class="main"></div>
      <div>
        <li class="titleTag">
          <div>
            <span>Choose city</span>
            <span><img src="../../icons/X.png" alt=""></span>
          </div>
        </li>
        <li class="searchCity">
          <input type="text" name="" id="citySearch" placeholder="Search your city">
        </li>
        <li class="locationSer">
          <div>
            <img src="../../icons/Icons.png" alt="">
            <p>Use current location</p>
          </div>
        </li>
      </div>
      <div>
        <hr />
      </div>
      <div class="cityBody">
        <ul class="cities">
          Cities
          <li>
            <img src="../../icons/modalicon.png" alt="">
            <p>Pune</p>
          </li>
          <li>
            <img src="../../icons/modalicon.png" alt="">
            <p>Bengaluru</p>
          </li>
          <li>
            <img src="../../icons/modalicon.png" alt="">
            <p>Mumbai</p>
          </li>
          <li>
            <img src="../../icons/modalicon.png" alt="">
            <p>Hyderabad</p>
          </li>
          <li>
            <img src="../../icons/modalicon.png" alt="">
            <p>Solapur</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>