body{
    font-family: 'Poppins', sans-serif;
    background-color: #F6FAFD;
}

.full{
    background-color: white;
    background-color: 1px solid black;
    padding: 5px;

}

#p2{
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    padding-top: 5px;
}

.f2{
    display: flex;
}

#o{
    padding: 10px;
    justify-content: start;
}

.f1{
    display: flex;
    margin: 10px;
    justify-content: start;
}

.f1 > div{
    margin: 5px;
    padding: 2px;
    flex-grow: 1;
    font-size: 12px;
}

.f1 > div:nth-child(1){
    color: #2E4B7F;
    margin: 0px;
    padding: 0px;
    flex-grow: 0.5;
} 

.f1 > div:nth-child(2){
    color: #2E4B7F;
} 

.f1 > div:nth-child(3){
    background-color: #E0F5F8;
    flex-grow: 1;
    font-size: 14px;
    font-weight: bold;
    color: #426BB6;
} 


.f1 > div:nth-child(4){
    flex-grow: 9;
} 

.f2{
    display: flex;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    
    justify-content: start;
}

.f2 > div:nth-child(1)
{
    flex-grow: 1;
    color: #385B9B;
}

.f2 > div:nth-child(2)
{
    margin-left: 10px;
    flex-grow: 2;
    font-weight: 500;
}

.f3{
    display: flex;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    
    justify-content: start;
}

.f3 > div:nth-child(1)
{
    flex-grow: 1;
    color: #385B9B;
}

.f3 > div:nth-child(2)
{
    margin-left: 10px;
    flex-grow: 8;
}

o > p:nth-child(1)
{
    font-size: 18px;
    font-weight: bolder;
}

.f4{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.f5{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.f4> div:nth-child(2)
{
    color: #F3464A;
    font-size: 10px;
    text-decoration: underline;
    font-weight: 800px;
}

#cont{
    margin: 25px;
    margin-top: 5px;
}

.cont hr{
    width: 80%;
}

.f5 > div:nth-child(1)
{
    font-size: 14px;
}

.f5 > div:nth-child(2)
{
    font-size: 16px;
    color: #2E4B7F;
    font-weight: bold;
}

.f10{
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.f10 > div > input
{
    padding: 5px;
}

.f10 > button
{
    padding: 5px;
}

#flex3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#logo
{
    display: flex;
    justify-content: left;
    margin-top: 3px;
    border-bottom: 1px solid red;
}

#logo > div{
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    background-color: #F7F7F7;
}

.pardiv1{
    margin: 10px;
    padding: 8px;
    background-color: white;
}

#minif{
    display: flex;
    margin: 10px;
    justify-content: start;
}

#h2{
    margin-left: 14px;
    margin-top: 5px;
    color: #426BB6;
    padding-bottom: 5px;
}


#minif1{
    display: flex;
    margin-top: 0%;
    margin: 10px;
    justify-content: start;
    margin-bottom: 0%;
}

#minif1 > div:nth-child(2){
    font-size: 12px;
    color: #2E4B7F;
}

.head{
    color: #2E4B7F;
    font-weight: bold;
}

#minif2{
    display: flex;
    margin : 0%;
    justify-content: start;
    margin-left: 10px;
}

#minif2 > div {
    margin-left: 5px;
}

#minif2 > div:nth-child(1){
    margin-left: 30px;
}

#flex3 > button
{
    margin-top: 50px;
    width: 80%;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 0px;
    bottom: 0px;
    color: #6889C5;
    background-color: #C4D1E8;
}

#flex1{
    display: flex;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}

#p1{
    color: #2E4B7F;
    margin-left: 50px;
    font-weight: 550;
    font-family: sans-serif;
}

#flex1 > div:nth-child(1)
{
    margin-left: 20px;
}

#flex1 > div:nth-child(2)
{
    margin-left: 15px;
}