<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="structure.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-outerDiv">
        <div class="display-abs1">
            <div class="dis-flex top-nav">
                <div class="left-top">
                    <img src="../../icons/structure/Time.svg" alt="">
                </div>
                <div class="right-top">
                    <img src="../../icons/structure/Cellular Connection.svg" alt="">
                    <img src="../../icons/structure/Wifi.svg" alt="">
                    <img src="../../icons/structure/Battery.svg" alt="">
                </div>
            </div>
        </div>

        
        <div class="display-abs">
            <div class="bottom-navbar dis-flex">
                <div class="nav-icon">
                    <img src="../../icons/structure/home.svg" alt="">
                    <div>Home</div>
                </div>
                <div class="nav-icon">
                    <img src="../../icons/structure/myOrder.svg" alt="">
                    <div>My Order</div>
                </div>
                <div class="nav-icon" id="diagnostic">
                    <img src="../../icons/structure/digonastic.svg" alt="">
                    <div>Diagnostic</div>
                </div>
                <div class="nav-icon">
                    <img src="../../icons/structure/profile.svg" alt="">
                    <div>Profile</div>
                </div>          

            </div>

            <div class="add-content-hear">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquam eligendi explicabo libero aliquid pariatur distinctio sed earum nobis ad. Sequi odit in inventore voluptates delectus at ipsa ab ipsum?
                Quae voluptas ducimus nesciunt dolorem dolor dicta quam voluptatem aliquid quaerat pariatur facere qui quidem eum harum ad, explicabo nemo nihil inventore aperiam? Eius, quos? Totam reprehenderit hic necessitatibus natus.
                Eaque iure a error dolorum sed. Eum officiis excepturi ipsum quam ullam cumque aut, aperiam corrupti omnis officia veniam accusamus impedit repellat magni animi, magnam sunt? Odio corrupti odit eius.
                Temporibus vitae nulla modi blanditiis iste odio dolore laudantium, quibusdam architecto ipsam doloribus officia at reprehenderit ut nihil provident illo? Dolore molestias accusantium temporibus eum necessitatibus quasi vitae minus repellendus!
                Veritatis ex saepe, quos culpa iusto asperiores, magni facere neque nihil soluta, minima nesciunt voluptatum? Commodi eligendi tempore nisi incidunt sit, atque iusto saepe omnis excepturi quidem cupiditate enim perferendis.
                Temporibus dicta dolor nisi laudantium nihil. Eius sit ullam nam, excepturi rem aut sed inventore pariatur ut! Odit ab praesentium, ipsam tenetur totam, sed adipisci, cum veritatis exercitationem id atque.
                Molestias tempore atque dolorem fugiat consequatur sed ab vero provident accusantium, numquam iusto laboriosam laudantium consequuntur eligendi? Sequi consequuntur, quibusdam accusamus doloremque odio eveniet quisquam maiores laudantium commodi cum quia!
                Veritatis perferendis ipsam sapiente ipsum libero totam quos illo ducimus accusamus fuga hic eaque nobis blanditiis tenetur, reiciendis dignissimos explicabo alias. Autem aperiam odit in distinctio vitae maxime, accusantium placeat.
                Repellendus dolorem doloribus placeat, impedit recusandae quae expedita totam veniam consectetur adipisci aut nulla ad eos accusamus alias hic nesciunt sint omnis? Voluptatem, mollitia? Aliquam quidem ea ipsam est assumenda!
                Porro voluptates corporis rem, magni alias culpa minima voluptas quasi obcaecati facilis distinctio qui aspernatur ea reiciendis itaque similique tenetur quam inventore deleniti maxime accusamus? Odit et quasi odio nesciunt!
                Suscipit totam velit placeat, similique reprehenderit eaque. Alias voluptas accusamus voluptatibus aliquam neque non voluptate itaque, numquam perspiciatis maiores vitae voluptates commodi ipsum nostrum provident explicabo libero omnis! Sequi, aperiam.
                Laborum doloremque corrupti a quas! Quam placeat harum a est impedit beatae, nemo officiis? Ex cupiditate recusandae voluptatum, sequi officia laudantium optio eum hic consectetur, veritatis quibusdam a facilis eveniet?
                Perferendis facere provident a facilis commodi dicta ipsam at reprehenderit nobis, modi accusantium perspiciatis iure quam quasi error voluptas consectetur. Aliquam repellat culpa neque similique, voluptates accusantium ea quis. Voluptatum.
                Ex maiores soluta quia ut. Distinctio nam sequi voluptate eius voluptatum quia iste, atque facilis, similique aut quaerat ullam inventore, expedita iure odio explicabo ut beatae cumque officia reprehenderit laudantium!
                Harum cupiditate error perferendis dolorum nulla. Repellat beatae unde facere quasi molestiae iure autem, culpa, cupiditate dignissimos sed veniam eum, obcaecati ad! Nihil quae alias eos nulla vero dolorem autem.               
            </div>
        </div>

    </div>

</body>

</html>