.dis-flex {
  display: flex;
  align-items: center;
}

.diagnost-text {
  width: 412px;
  height: 68px;
  background-color: #ffffff;
  margin-top: 16px;
  padding-left: 34px;
}

.diagnost-text .main-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.diagnost-text img {
  height: 16px;
  width: 16px;
  margin-right: 26px;
}

.lab-test input {
  /* position: absolute; */
  margin: 25px 27px;
  /* top: 109px; */
  background: #eef3f9;
  /* Fainted font */
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  width: 358px;
  height: 46px;
  border-radius: 6px;
  padding-left: 10px;
  border: 1px solid rgb(167, 167, 199);
}

.health-article {
  width: 412px;
  overflow: scroll;
}
.health-article::-webkit-scrollbar {
  display: none;
}

.category {
  margin: 20px 0 20px 20px;
}

.category_text {
  margin: 10px 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.catogory_type_med {
  margin-right: 10px;
  text-align: center;
}

.catogory_type_med div {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.trending-product {
  width: 412px;
  overflow: scroll;
}
.trending-product::-webkit-scrollbar {
  display: none;
}

.recommended_type_med {
  width: 122px;
  height: 156px;
  padding: 5px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 10px;
}

.recommended_type_med div:nth-child(2) {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #292929;
  margin-top: 5px;
}

.recommended_type_med div:nth-child(3) {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #949292;
  margin-top: 3px;
}

.price {
  margin-top: 3px;
}
